<aside class="col-md-4 blog-sidebar">
	<div class="p-3 mb-3 bg-light rounded">
		<h4 class="font-italic">Acerca del Sitio web</h4>
		<p class="mb-0">orientacion-vocal.herokuapp.com es una plataforma de divulgación de contenidos sobre la carrera de canto. un espacio para compartir conocimientos y ser un centro de referencia para los profesiones, estudiantes y cualquier persona interesada en conocer</p>
	</div>
	
	<div class="p-3">
		<vue-recursos></vue-recursos>
	</div>

	
</aside><!-- /.blog-sidebar -->
