<div class="row mb-2">
  <div class="col-md-12">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Archivo</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Metodo completo</a>
        </h3>
        <p class="card-text mb-auto">Metodo Vaccai Completo en Formato PDF.</p>
        <a href="#">Ver Contenido</a>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block" src="https://via.placeholder.com/200x250" alt="Card image cap">
    </div>
  </div>

</div>