<footer class="blog-footer">
	<img src="/assets/img/creative-commons.jpg" width="120" height="80">
	<p>Desarrollado por</p><a href="https://edwight.github.io/portafolio/">Edwight D</a></p>
	
</footer>