<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>
  	<div id="app">
	    <div class="container">
	       
	      <vue-nav></vue-nav>

	      <vue-header 
          img="singers.jpg"
          body="Instrumento I. en este modulo encontraras las lecciones del uno al seis del metodo Vaccai">
        </vue-header>

	      <div class="row mb-2">
	        <div class="col-md-6">
	          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
	            <div class="card-body d-flex flex-column align-items-start">
	              <strong class="d-inline-block mb-2 text-primary">World</strong>
	              <h3 class="mb-0">
	                <a class="text-dark" href="#">Metodo completo</a>
	              </h3>
	              <div class="mb-1 text-muted">Nov 12</div>
	              <p class="card-text mb-auto">Metodo Vaccai Completo en Formato PDF.</p>
	              <a href="#">Ver Contenido</a>
	            </div>
	            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
	          </div>
	        </div>
	        <div class="col-md-6">
	          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
	            <div class="card-body d-flex flex-column align-items-start">
	              <strong class="d-inline-block mb-2 text-success">Design</strong>
	              <h3 class="mb-0">
	                <a class="text-dark" href="#">Recursos</a>
	              </h3>
	              <div class="mb-1 text-muted">Nov 11</div>
	              <p class="card-text mb-auto">pagina web donde podras encontrar una gran cantidad de recursos relaccionados con el metodo vaccai.</p>
	              <a href="#">Ir al Contenido</a>
	            </div>
	            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
	          </div>
	        </div>
	      </div>
	    </div>

	    <main role="main" class="container">
	      <div class="row">
	        <div class="col-md-8 blog-main">
	          <h3 class="pb-3 mb-4 font-italic border-bottom">
	            INSTRUMENTO I 
	          </h3>

	          <div class="blog-post">
	            <h2 class="blog-post-title">Método de Canto Concone</h2>
	            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

							<h3>El Método Concone</h3>

							<p>Las lecciones de El Método Concone, Contienen todos los elementos de una pieza para canto:</p>
							<ul>
								<li><strong>Fraseo:</strong> Con el que nos lleva de la mano para encontrar o practicar la musicalidad.
								</li> 
								<li>
									<strong>Línea vocal:</strong> Una línea musical con saltos e intervalos lógicos y preparatorios para las notas agudas y graves como si fuera una pieza musical.
								</li>
								<li>
									<strong>Solfeo:</strong> Desde el inicio, el estudiante se encuentra con el reto de descifrar la lección para poder entonarla y cantarla con ritmo, así mismo contiene cambios de armadura, de tiempo, apoyaturas y notas de paso en bemoles y sostenidos y ciertas modulaciones.
								</li> 
							</ul>
							<p>Marcas de respiración y por si fuera poco, matices y acentos.</p>
							<p>En palabras del Autor: <small>“El propósito de estas lecciones es colocar y asegurar la voz correctamente, y desarrollar el gusto para cantar melodías con amplitud elegancia y ritmo”</small>. </p>

							<hr>

							<h3>CONTENIDOS</h3>
							<card-post 
                v-for="item in items_concone"
                v-bind:title="item.title"
                v-bind:body="item.body"
                v-bind:video="item.video"
                v-bind:video2="item.video2"
                >    
              </card-post>
	      		</div><!-- /blog-post -->
	        </div><!-- /.blog-main -->
	        <aside class="col-md-4 blog-sidebar">
	          <div class="p-3 mb-3 bg-light rounded">
	            <h4 class="font-italic">Recuerda</h4>
	            <p class="mb-0">El metodo vaccai esta esta extruturado en  en doce lecciones </p>
	          </div>
	          <div class="p-3">
	            <img src="img/concone-img.jpg" style="width: 100%">
	          </div>
	          <div class="p-3">
	            <vue-recursos></vue-recursos>
	          </div>

	          <div class="p-3">
	            <h4 class="font-italic">Elsewhere</h4>
	            <ol class="list-unstyled">
	              <li><a href="#">GitHub</a></li>
	              <li><a href="#">Twitter</a></li>
	              <li><a href="#">Facebook</a></li>
	            </ol>
	          </div>
	        </aside><!-- /.blog-sidebar -->

	      </div><!-- /.row -->

	    </main><!-- /.container -->

	    <footer class="blog-footer">
	      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	    </footer>
	  </div><!-- /app -->
    

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script type="text/javascript" src="js/myscript.js"></script>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
