<!doctype html>
<html lang="es">
  <head>
    <% include ../layout/head %>
  </head>

  <body>
    <div id="app">
      <div class="container">

        <% include ../layout/nav %>
        <vue-header 
          img="singers.jpg"
          body="Instrumento IV. En este modulo encontraras las lecciones del dieciséis al veinte del metodo Concone">
        </vue-header>
        <vue-card
          texto="Metodo Concone Completo en Formato PDF." 
          url=""
          img="canto-lirico.jpg"
        ></vue-card>
      </div>

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
              Instrumento IV
            </h3>

            <div class="blog-post">
              <h2 class="blog-post-title">Método de Canto Concone</h2>


              <h3>El Método Concone</h3>

              <p>Las lecciones de El Método Concone, Contienen todos los elementos de una pieza para canto:</p>
              <ul>
                <li><strong>Fraseo:</strong> Con el que nos lleva de la mano para encontrar o practicar la musicalidad.
                </li> 
                <li>
                  <strong>Línea vocal:</strong> Una línea musical con saltos e intervalos lógicos y preparatorios para las notas agudas y graves como si fuera una pieza musical.
                </li>
                <li>
                  <strong>Solfeo:</strong> Desde el inicio, el estudiante se encuentra con el reto de descifrar la lección para poder entonarla y cantarla con ritmo, así mismo contiene cambios de armadura, de tiempo, apoyaturas y notas de paso en bemoles y sostenidos y ciertas modulaciones.
                </li> 
              </ul>
              <p>Marcas de respiración y por si fuera poco, matices y acentos.</p>
              <p>En palabras del Autor: <small>“El propósito de estas lecciones es colocar y asegurar la voz correctamente, y desarrollar el gusto para cantar melodías con amplitud elegancia y ritmo”</small>. </p>

              <hr>

              <h3>CONTENIDOS</h3>
              <card-post 
                v-for="item in filteredCountconcone20" :key="item.id"
                v-bind:title="item.title"
                v-bind:body="item.body"
                v-bind:video="item.video"
                v-bind:video2="item.video2"
                >    
              </card-post>
  							
        		</div><!-- /blog-post -->
          </div><!-- /.blog-main -->
          
          <vue-aside img="concone-img.jpg"></vue-aside>
          <!-- /.blog-sidebar -->
        </div><!-- /.row -->

      </main><!-- /.container -->

      <% include ../layout/footer %>
    </div><!-- /app -->
    <% include ../layout/script %>
  </body>
</html>
