<!doctype html>
<html lang="es">
	<head>
		<% include ../layout/head %>
		
	</head>

	<body>
		<div id="app">
			<div class="container">
				<% include ../layout/nav %>
				<% include ../layout/header %>
				
				

				<div class="row mb-2">
					<div class="col-md-12">
						<div class="card flex-md-row mb-4 shadow-sm h-md-250">
							<div class="card-body d-flex flex-column align-items-start">
								<h3 class="blog-post-title">BIENVENIDA</h3>
							
									<p>Te damos una muy cordial Bienvenida a nuestro blog de Orientación Vocal de la Universidad Nacional Experimental Francisco de Miranda, en el que encontrarás recursos valiosisimos para el entrenamiento y desarrollo de este instrumento musical natural que tenemos, como lo es la voz. Esperamos pueda ser de gran utilidad para ti en lo personal y pueda ayudarte en el cumplimiento de los objetivos y contenidos programáticos exigidos en la carrera de Educación Mención Música de la UNEFM. </p>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<main role="main" class="container">
				<div class="row">
					<div class="col-md-8 blog-main">
						
						<div class="blog-post">
							

							

							<p><h3>CONOCIMIENTOS PREVIOS</h3></p>
							<p><h4>Objetivo General</h4></p>

							<p>Adquirir conocimientos, habilidades y destrezas que darán lugar al óptimo manejo de la voz humana como instrumento musical, ya sea solista o integrante de conjuntos corales, tanto en sí misma como en la selección del repertorio que le fuere adecuado.</p>
							<hr>
							<p><h4>CONTENIDOS</h4></p>
							<ol>
								<li><p>Conocer el aparato respiratorio, fonador, resonador, fisiología de la producción vocal y su función en la amplificación del sonido vocal.</p></li>

								<li>
									Ejecutar vocalizo empleándose las técnicas correctas del apoyo intercostal-diafragmático, un sonido vocal impostado, articulado y correctamente fraseado, sonido vocal homogéneo, vocalizo en escalas de leve dificultad y unificado en toda la gama de la tesitura.
								</li>
					​			<li>
									<p>Conocer las denominaciones vocales básicas y aplicar los criterios de clasificación vocal y determinar su efectividad.</p>
								</li>
								<li>
									<p>Un estudio básico del canto de los autores <strong>CONCONE Y VACCAI.</strong></p>
								</li>

							</ol>

						</div><!-- /.blog-post -->


					

					</div><!-- /.blog-main -->

					<% include ../layout/aside %>
					
				</div><!-- /.row -->

			</main><!-- /.container -->
			<% include ../layout/footer %>
			
		</div><!-- /app -->
		
		<!-- vue.js -->
    	<% include ../layout/script %>
	</body>
</html>
