<!doctype html>
<html lang="es">
  <head>
    <% include ../layout/head %>
  </head>

  <body>
    <div id="app">
      <div class="container">

        <% include ../layout/nav %>
        <vue-header 
          img="botones-3.jpg"
          body="Instrumento III. En este modulo encontraras 6 piezas Italinas del metodo 24 canciones Italianas">
        </vue-header>
        <vue-card
          texto="Metodo 24 Canciones Italianas Completo en Formato PDF." 
          url=""
          img="adele.jpg"
        ></vue-card>
      </div>

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
              Instrumento III
            </h3>

            <div class="blog-post">
              <h2 class="blog-post-title">Método de 24 Canciones Italianas</h2>


  						<hr>
              <h3>CONTENIDOS</h3>
              <card-post 
                v-for="item in filteredCountiitaliana0"
                v-bind:title="item.title"
                v-bind:body="item.body"
                v-bind:video="item.video"
                v-bind:link="item.link">    
              </card-post>
  							
        		</div><!-- /blog-post -->
          </div><!-- /.blog-main -->
          
          <vue-aside img="italian.jpg"></vue-aside>
          <!-- /.blog-sidebar -->
        </div><!-- /.row -->

      </main><!-- /.container -->

      <% include ../layout/footer %>
    </div><!-- /app -->
    <% include ../layout/script %>
  </body>
</html>
