<!doctype html>
<html lang="es">
  <head>
    <% include ../layout/head %>
    <link rel="stylesheet" type="text/css" href="login.css">
  </head>

  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form" v-show="islogin">
          <input type="text" v-model="userData.name" placeholder="name"/>
          <input type="password" v-model="userData.password" placeholder="password"/>
          <input type="email" v-model="userData.email" placeholder="email address"/>
          <button @click.prevent="signUp()">create</button>
          <p class="message" @click="toggleShow()">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" v-show="!islogin">
          <input type="email" v-model="userData.email" placeholder="email"/>
          <input type="password" v-model="userData.password"placeholder="password"/>
          <button @click.prevent="signIn()">login</button>
          <p class="message" @click="toggleShow()">Not registered? <a href="#">Create an account</a></p>
        </form>
        <hr>
        <socialLogin></socialLogin>
      </div>
    </div>
  </body>
</html>