<!doctype html>
<html lang="es">
  <head>
    <% include ../layout/head %>
    <style type="text/css">
      .list-group-item{
        margin: 2em 0;
        height: 150px;
        padding: 0;
      }
      .list-group-item img{
        width: 100px;
        height: 150px;
        margin-right: 5px; 
      }
      .list-group-item p{
        position: absolute;
        top: 10px;
        left: 130px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">

        <% include ../layout/nav %>
        <vue-header 
          img="cantolirico.jpg"
          body="Instrumento II. En este modulo encontraras las lecciones del Metodo Sojo">
        </vue-header>
      </div>

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
              Instrumento II
            </h3>

            <div class="blog-post">
              <h2 class="blog-post-title">Método de Canto Sojo</h2>


  						<hr>
              <h3>CONTENIDOS</h3>

              <card-sojo 
                v-for="item in filteredCounSojo1"
                v-bind:title="item.title" 
                v-bind:link="item.url"
                >    
              </card-sojo>
  							
        		</div><!-- /blog-post -->
          </div><!-- /.blog-main -->
          
          <vue-aside img="sojo.jpg"></vue-aside>
          <!-- /.blog-sidebar -->
        </div><!-- /.row -->

      </main><!-- /.container -->

      <% include ../layout/footer %>
    </div><!-- /app -->
    <% include ../layout/script %>
  </body>
</html>
