<!doctype html>
<html lang="es">
  <head>
    <% include ../layout/head %>
  </head>

  <body>
    <div id="app">
      <div class="container">

        <% include ../layout/nav %>
        <vue-header 
          img="canto-lirico-1.jpg"
          body="Instrumento I. En este modulo encontraras las lecciones del uno al tres del metodo Vaccai">
        </vue-header>
        <vue-card
          texto="Metodo Vaccai Completo en Formato PDF." 
          url=""
          img="cantolirico.jpg"
        ></vue-card>
      </div>

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
              Instrumento I
            </h3>

            <div class="blog-post">
              <h2 class="blog-post-title">Método de Canto de Nicola Vaccai</h2>

  						<h3>Obra</h3>

  						<p>Método de canto</p>

  						<p>Entre los muchos libros que escribió, destaca el Método Práctico Vocal, de 1832. En él explica el legato italiano adaptándose a los diferentes tipos de voz. Aún se imprime por la Casa Ricordi y se sigue usando como herramienta de enseñanza. El libro es también una fuente importante de información sobre el modo de cantar ópera en el siglo XIX.</p>
  						<hr>
              <h3>CONTENIDOS</h3>
              <card-post 
                v-for="item in filteredCountVaccai"
                v-bind:title="item.title" :key="item.id"
                v-bind:body="item.body"
                v-bind:video="item.video"
                v-bind:link="item.link">    
              </card-post>
  							
        		</div><!-- /blog-post -->
          </div><!-- /.blog-main -->
          
          <vue-aside img="Nicola_Vaccai.jpg"></vue-aside>
          <!-- /.blog-sidebar -->
        </div><!-- /.row -->

      </main><!-- /.container -->

      <% include ../layout/footer %>
    </div><!-- /app -->
    <% include ../layout/script %>
  </body>
</html>
